@{
    ViewBag.Title = "requests";

Layout = "~/Views/shared/layoutPage.cshtml";
}

<div class="container col-md-4">
    <div class="container navbar-default">
        <h3><img src="cpic2.jpg" height="40" width="40"><b>Se Spartans</b> </h3>
        Se Spartans<br>
        Venue: Hostel ground<br>
        Time : 10 pm<br>
        Date:28/5/2015<br>
        <input type="button" value="Accept" />
    </div>
    <br />
    <div class="container navbar-default">
        <div>
            <h3><img src="cpic2.jpg" height="40" width="40"><b>Se Spartans</b> </h3>
            Se Spartans<br>
            Venue: Hostel ground<br>
            Time : 10 pm<br>
            Date:28/5/2015<br>
            <input type="button" value="Accept" />
        </div>
        <br />
    </div>
    <div class="container navbar-default">
        <h3><img src="cpic2.jpg" height="40" width="40"><b>Se Spartans</b> </h3>
        Se Spartans<br>
        Venue: Hostel ground<br>
        Time : 10 pm<br>
        Date:28/5/2015<br>
        <input type="button" value="Accept" />
    </div>
</div>

<div class="col-md-1"></div>
    </div>

